<html>
  <script>
    // for(let i =0;i<=5;i++){
    //   for(let j=0;j<=5;j++){
    //     document.write('*')
    //   }
    //   document.write('<br>')
    // }
    // for(let i = 0; i<=5; i++){
    //   for(let j = 0;j<=i;j++){
    //     document.write('*');

    //   }
    //   document.write('<br>');

    // }
    // for(let i = 5;i>=0;i--){
    //   for(let j=0;j<=i;j++){
    //     document.write("*")
    //   }
    //   document.write('<br>')
    // }
    // let x = prompt('数字1')
    // let y = prompt('数字2')
    // let one = Number(x)
    // let two =  Number(y)
    // function addSum(num1,num2){

    //   console.log(num1+num2);

    // }
    // addSum(one,two)
    function allSum() {
      let sum = 0
      for (let i = 1; i <= 100; i++) {
        sum += i
      }
      console.log(sum)
    }
    allSum()
  </script>
</html>
